<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .toShowStudent{
        border: none;
        background-color: yellowgreen;
        width: 40%;
        text-align: center;
        height: 1.5rem;
        line-height: 1.5rem;
    }
</style>
<table>
    <tr><td>123</td><td>123</td></tr>
    <table id="add">

    </table>
    <tr><td><button onclick="add();">Add</button></td></tr>
</table>
<script type="text/javascript">
    function add() {


    }
</script>
</body>
</html>